@model IEnumerable<GymReservation.Models.FitnessCenter>

@{
    ViewData["Title"] = "Salonlar";
}

<h1 style="color:red">TEST SALONLAR VIEW</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a class="btn btn-primary" asp-action="Create">Yeni Salon Ekle</a>
    </p>
}

@if (!Model.Any())
{
    <div class="alert alert-info">
        Kayıtlı salon bulunmamaktadır.
    </div>
}
else
{
    <table class="table table-striped table-bordered align-middle shadow-sm">
        <thead class="table-dark">
            <tr>
                <th>Salon Adı</th>
                <th>Adres</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Address</td>
                    <td>
                        @if (User.IsInRole("Admin"))
                        {
                     <a asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> 
                    <a asp-action="Details" asp-route-id="@item.Id">Detay</a> 
                    <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                       }
                        else
                        {
                            <a asp-action="Details" asp-route-id="@item.Id">Detay</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
